html, body {
	min-height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

/** Sanitize **/
h1, h2, h3, h4, h5, h6 {
	font-size: 1rem;
	font-weight: normal;
}

.wrap {
	min-height: 100%;
}

.top-bar {
	/*box-shadow: 0 0 1px rgba(0,0,0,.15);*/
	border-bottom: 1px solid #eee;
}
.top-bar, .top-bar ul {
	background-color: #fff;
}
.top-bar a {
	color: #222;
}

.log-in-form {
	border: 1px solid #cacaca;
	padding: 1rem;
	border-radius: 3px;
}

.callout {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
	border: 1px solid rgba(0,0,0,.09);
	border-radius: 3px;
}

.color-grey, .grey {
	color: #666;
}
.color-light-grey, .light-grey {
	color: #b3b3b3;
}

.bg-grey-light {
	background: #fafafa!important;
}
.bg-white {
	background: white !important;
}

.no-list-style {
	list-style-type: none !important;
	margin-left: 0;
}

.fs--3 { font-size: 0.7rem !important; }
.fs--2 { font-size: 0.8rem !important; }
.fs--1 { font-size: 0.9rem !important; }
.fs-0 { font-size: 1rem !important;  }
.fs-1 { font-size: 1.1rem !important;  }
.fs-2 { font-size: 1.2rem !important;  }
.fs-3 { font-size: 1.3rem !important;  }
.fs-4 { font-size: 1.4rem !important;  }
.fs-5 { font-size: 1.5rem !important;  }
.bold { font-weight: bold !important; }

.no-pad {
	padding: 0 !important;
}
.t-pad-20 { padding-top: 20px; }
.b-pad-20 { padding-top: 20px; }

.hide { display: none; }

@media screen and (min-width: 40em) {
	[data-hide-for="medium"] {
		display: none !important;
	}
}

hr {
	border-bottom: 1px solid #ddd;
}
