/* UNINAV
------------------------------------ */
.uninav {
  display: block;
  list-style:none;
  margin:0;
  padding:0;
  font-size:0;
  
  &.uninav-iblock {
    display: inline-block;
  }

  > li {
    display: inline-block;
    z-index:0;
    
    > a {
      font-size: 14px;
      line-height: 1em;
      display: table;
      padding: 15px;
      color: skin-color(text);
      position: relative;
      z-index: 0;
    }
    
    &:hover > a, &.active > a {
      text-decoration: none;
    }
  }
  
  &.uninav-padx-lg > li > a{
    padding: 15px 30px;
  }
  
  &.uninav-uline > li {
    &:hover > a, &.active > a {
      text-decoration: underline;
    }
  }
  
  &.uninav-celled {
    > li > a > span {
      display: table-cell;
      vertical-align: middle;
    }
  }
  
  &.uninav-tabled, &.uninav-tabs {
    display:table;
    > li {
      display:table-cell;
      height: 100%;
    }
  }

  &.uninav-floats {
    > li {
      display: block;
      float: left;
    }
  }
}

.uninav-icon {
  line-height: 1em;
  display:inline-block;
  transition: all 0.4s;
}

.dd-icon {
  margin-left: 10px;
  line-height: 1em;
  display:inline-block;
  transition: all 0.4s;
}

/* uninav sm */
.uninav-sm {
  > li {
    font-size: 12px;
    > a {
      padding: 10px;
    }
  }
}

/* uninav icons */
.uninav.uninav-icons {
  > li > a {
    padding:0;
    width: 2.5em;
    text-align: center;
    display: block;
    
    > * {
      display: block;
      line-height: 2.5em;
    }
  }
}

/* uninav vicons */
.uninav.uninav-vicons {
  > li {
    display: block;
    float: none;
  }
}

.icons-round > li > a > * { border-radius: 50%}

/* uninav spacing */
.uninav-gap-10 {
  > li {
    margin-right: 10px;
    
    &:last-child {
      margin-right:0;
    }
  }
}

.uninav-gap-1 {
  > li {
    margin-right: 1px;
    
    &:last-child {
      margin-right:0;
    }
  }
}

.uninav-gap-2 {
  > li {
    margin-right: 2px;
    
    &:last-child {
      margin-right:0;
    }
  }
}

.uninav-gap-3 {
  > li {
    margin-right: 3px;
    
    &:last-child {
      margin-right:0;
    }
  }
}

.uninav-gap-5 {
  > li {
    margin-right: 5px;
    
    &:last-child {
      margin-right:0;
    }
  }
}

.uninav-v.uninav-gap-5 {
  > li {
    margin-bottom: 5px;
    
    &:last-child {
      margin-bottom:0;
    }
  }
}

/* uninav misc */
.uninav-caret {
  @include arrow(down, 8px, 5px, rgba(#000, 0.5));
}

.active .visible-active {
  display:block;
}

.active .hidden-active, .visible-active {
  display:none;
}

.uninav-divider {
  position:relative;
  padding:10px 0;
  
  &:after {
    content: "";
    display: block;
    background: rgba(#000, 0.1);
    height: 1px;
    width:100%;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    margin:auto 0;
  }
}

.uninav-fillh, .uninav-fillh > li {
  height: 100%;
}

.uninav-fillh > li > a {
  padding-top: 0;
  padding-bottom: 0;
}

.uninav-fillh.uninav-celled > li > a {
  height: 100%;
}

.uninav-badge {
  color: #fff;
  line-height:20px;
  min-width:20px;
  border-radius: 50%;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;
  margin-left:-5px;
}

.has-badge  {
  position: relative;
  
  .uninav-badge {
    position:absolute;
    margin:0;
    top: - 10px;
    right: -10px;
  }
}

/* uninav borders */
@media (min-width: 768px) {
  .uninav-bd-r, .uninav-bd-c {
    > li > a {
      border-right: 1px solid rgba(#000, 0.1);
    }
  }

  .uninav-bd-c > li:last-child > a {
    border: none;
  }

  .uninav-bd-l {
    > li > a {
      border-left: 1px solid rgba(#000, 0.1);
    }
  }
}

/* uninav dropdown 
------------------------------------*/
.uninav-ddmenu, .uninav-ddmenu-mega {
  display: none;
  box-shadow:0 0 2px 1px rgba(#000, 0.1);
  border:1px solid rgba(#000, 0.2);
  width: 200px;
  position: absolute;
  z-index: 100;
  background: #fff;
  top:100%;
  left:0;
  padding: 10px 0;
  
  &.pos-right {
    left: auto;
    right: 0;
  }
  
  &.pos-side-right {
    left: 100%;
    top: 0;
    margin-left: 10px;
  }
}

.uninav-v .uninav-ddmenu, .uninav-v .uninav-ddmenu-mega {
  width: 100%;
  position: relative;
  top:0;
  box-shadow: none;
}

.uninav-ddmenu-mega {
  width: 100%;
  margin-top: 0;
}

.uninav-dd {
  position: relative;
  z-index: 100;
  &.open > .uninav-ddmenu {
    display: block;
  }
}

/* uninav v
------------------------------------*/
.uninav-v, .uninav li > .uninav, .uninav-dd .uninav, .uninav.uninav-ddmenu, .uninav.dropdown-menu {
  height: auto;
  text-align: left;

  > li {
    float:none;
    display:block;

    > a {
      width: 100%;
    }
  }
}

.uninav.dropdown-menu {
  display: none;
  float: none;
}

.open > .uninav.dropdown-menu {
  display: block;
}

/* uninav lines
------------------------------------*/
.uninav-tline, .uninav-tline-above, .uninav-bline, .uninav-bline-below, .uninav-rline, .uninav-lline {
  > li.active > a:after, > li:hover > a:after {
    content: "";
    display:block;
    top:0;
    left:0;
    width:100%;
    height:3px;
    background: skin-color(primary);
    position:absolute;
  }
  
  > li:hover > a:after {
    opacity: 0.8;
  }
  
}

.uninav-inverse {
  > li.active > a:after, > li:hover > a:after {
    background: #fff;
  }
} 

.uninav-tline-above {
   > li.active > a:after, > li:hover > a:after {
    top: -4px;
  } 
}

.uninav-bline-below{
   > li.active > a:after, > li:hover > a:after {
    top: auto;
    bottom: -4px;
  } 
}

.uninav-lline {
  > li.active > a:after, > li:hover > a:after {
    width:3px;
    height:100%;
  }  
}

.uninav-bline {
  > li.active > a:after, > li:hover > a:after {
    top: auto;
    bottom: 0;
  }  
}

.uninav-default {
   > li {
    &:hover > a, &.active > a {
      color: skin-color(text-d);
    }
  }
}

.uninav-accent {
  &.uninav-tline, &.uninav-bline, &.uninav-rline, &.uninav-lline {
    > li.active > a:after, > li:hover > a:after {
      background: skin-color(accent);
    }
  }
}

.uninav-base {
  &.uninav-tline, &.uninav-bline, &.uninav-rline, &.uninav-lline {
    > li.active > a:after, > li:hover > a:after {
      background: skin-color(base);
    }
  }
}

.unibar-inverse .unibar-uninav.auto-invert, 
.inverse-all .uninav.auto-invert, 
.uninav.uninav-inverse {
  &.uninav-tline, &.uninav-bline, &.uninav-rline, &.uninav-lline {
    > li.active > a:after, > li:hover > a:after {

    }
  }
}

/* tabs
------------------------------------*/
.uninav.uninav-tabs {
  > li {
    border: 1px solid transparent;
    border-bottom:1px solid #ddd;

    &.active  {
      border:1px solid #ddd;
      border-bottom: none;
    }
    
    &.filler {
      border-bottom:1px solid #ddd;
      width: 100%;
    }
  }
  
  &:after {
    content:"<li></li>";
    width: 300px;
  }
}

/* uninav ruled
------------------------------------*/
.uninav-v.uninav-ruled {
  > li {
    border-bottom: 1px solid rgba(#000, 0.1);
    
    &:last-child {
      border:none;
    }
    
    &.uninav-divider {
      height:2px;
    }
  }
}

.unibar-inverse .unibar-uninav.auto-invert, 
.inverse-all .uninav.auto-invert, 
.uninav.uninav-inverse {
  &.uninav-v.uninav-ruled {
    > li {
      border-bottom: 1px solid rgba(#fff, 0.1);
      
      &:last-child {
        border:none;
      }
    }
  }
}

/* uninav inverse */
.unibar-inverse .unibar-uninav.auto-invert, 
.inverse-all .uninav.auto-invert,
.uninav-inverse {

  > li > a {
    color: #fff;
  }
  
  &.uninav-default > li > a {
    color: #fff;
  }
  
  .uninav-caret {
    @include arrow(down, 8px, 5px, rgba(#fff, 0.2));
  }
  
  .uninav-divider:after {
    background: rgba(#fff, 0.15);
  }
  
  &.uninav-bd-r, &.uninav-bd-c {
    > li > a {
      border-color: rgba(#fff, 0.15);
    }
  }
  
  &.uninav-bd-c > li:last-child > a {
    border: none;
  }
  
  &.uninav-bd-l {
    > li > a {
      border-color: rgba(#fff, 0.15);
    }
  }
}